
body {
    background-color: #ffffff;
   
    background-image: radial-gradient(circle at left center, #63abab, #348c83,#3e9c9c, #63abab);
 
}




#photo {
    position: absolute;
    
    left: 200px;
    top: 200px;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    position: absolute;
    top: 200px;
    
    color:rgb(255, 255, 255);
    

}

h3 {
    font-family:'Times New Roman', Times, serif;

    
    color:rgb(255, 255, 255);
    

}
.active-tab {
    color: rgb(205, 244, 240) !important;
    
    border-radius: 30px !important;
    
   
    
    
}

.list-group-item:hover {
    color: rgb(200, 242, 239) !important;
    
    
    border-radius: 30px !important;
   
   
  
    cursor: pointer !important;
};

a {
    position: top 50px;
}

