.active-tab {
    color: rgb(175, 127, 171) !important;
    background-color: rgb(176, 232, 208) !important;
    border-radius: 10px !important;
}

.list-group-item:hover {
    color: rgb(161, 77, 197) !important;
    background-color: rgb(29, 56, 45) !important;
    border-radius: 10px !important;
    cursor: pointer !important;
};