
body {
    background-color: #ffffff;
   
    background-image: radial-gradient(circle at left center, #156e6e, #2f978d,#4cbfbf, #70cccc);
 
}

main {
    display: flex;
    flex-wrap: wrap;
  }


#photo {
    
    position: absolute;
    
    left: 200px;
    top: 200px;
}

#links
{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 210px;
    top: 270px;
    
}

img {
    
    margin-bottom:50px
}


p {
    
    font-family: 'Handlee', cursive;
    font-size: 35px;
    position: relative;
    top: 100px;
    
    color:rgb(255, 255, 255);
    

}

h3 {
    
    font-family:'Times New Roman', Times, serif;

    
    color:rgb(255, 255, 255);
    

}
.tab {
    
    color: rgb(205, 244, 240) !important;
    
    border-radius: 30px !important;
         
}

.nav:hover {
    
    color: rgb(200, 242, 239) !important;
    background-color: rgb(55, 152, 141);
    border-radius: 30px !important;
    cursor: pointer !important;
   
}

a {
    
    position: top 50px;
}

h2 {
    
    font-family: 'Handlee', cursive;
    font-size: 50px;
    position: absolute;
    top: 200px;
    right: 200px;
    text-decoration: underline;
    color:rgb(255, 255, 255);

}





